{% include 'base.html.twig' %}
{% block body %}

    <div class="container">
        <input class="form-control" id="listSearch" type="text" placeholder="Type something to search list items">
        <br>
        <ul class="list-group list-group-horizontal" id="myList" style="list-style-type:none;">
            <div class="row">

                {% for product in products %}

                    <li>
                        <div class="col-4  rounded m-2">
                            <div class="card " style="width: 18rem;">
                                <img class="card-img-top rounded mx-auto d-block" src="/Images/demo-image.jpg"
                                     alt="Card image cap" style="height: 200px;width: 200px">
                                <div class="card-body">
                                    <h5 class="card-title" data-name = "{{ product.name }}">{{ product.name }}</h5>
                                    <p class="card-text">Something here</p>


                                    {#start plus-minus input#}
                                    <div class="input-group d-inline-block">
                                        <input type="button" value="-" class="button-minus mr-1"  data-field="quantity">
                                        <input type="number" step="1" max="" value="0" name="quantity"
                                               class="quantity-field" disabled>
                                        <input type="number" id="initialPrice" value="{{ product.price }}" max=""
                                               name="initialPrice" class="quantity-field d-none">
                                            <input type="number" id="price" value="0" max="" name="price" class="quantity-field" disabled>
                                        <input type="button" value="+" class="button-plus ml-1" data-field="quantity">

                                        <a href="#" class="btn btn-success">Add</a>
                                        <a href="#" class="btn btn-success">See all</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>

                {% endfor %}

            </div>


        </ul>
    </div>

    <script>
        //Filter list


        $("#listSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    </script>

    {#    plus and minus script#}
    <script>

        function incrementValue(e) {
            e.preventDefault();

            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
            var currentPrice = parseInt(parent.find('input#price').val(), 10);
            var initialPrice = parseInt(parent.find('input#initialPrice').val(), 10);


            if (!isNaN(currentVal)) {
                parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
                parent.find('input#price').val(currentPrice + initialPrice);
            } else {
                parent.find('input[name=' + fieldName + ']').val(0);

            }
        }

        function decrementValue(e) {
            e.preventDefault();
            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
            var currentPrice = parseInt(parent.find('input#price').val(), 10);
            var initialPrice = parseInt(parent.find('input#initialPrice').val(), 10);

            if (!isNaN(currentVal) && currentVal > 0) {
                parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
                parent.find('input#price').val(currentPrice - initialPrice);
            } else {
                parent.find('input[name=' + fieldName + ']').val(0);

            }
        }

        $('.input-group').on('click', '.button-plus', function (e) {
            incrementValue(e);
        });

        $('.input-group').on('click', '.button-minus', function (e) {
            decrementValue(e);
        });
    </script>
    <script>
        $(() => {

            // Select elements by their data attribute
            const $entryElements = $('[data-name]');

            // Map over each element and extract the data value
            const $autoCompleteItems =
                $.map($entryElements, item => $(item).data('name'));

            // You'll now have array containing string values
            console.log($autoCompleteItems); // eg: ["1", "2", "3"]
            $('#listSearch').autocomplete({
                source:$autoCompleteItems
            });

        });

        // var autoCompleteItems = $('[data-name]');
        //
        // $('#listSearch').autocomplete({
        //     source:
        // });
    </script>
{% endblock %}
