{% include 'base.html.twig' %}
{% block body %}
    {# templates/task/new.html.twig #}
    <div class="container">

        <input type="file" class="input-group">
        {{ form(form) }}
    </div>

{% endblock %}